In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
data=pd.read_csv('Store.csv')

In [35]:
data.head(5)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [37]:
data.ndim

2

In [38]:
data.dtypes

Duration                 int64
Start date              object
End date                object
Start station number     int64
Start station           object
End station number       int64
End station             object
Bike number             object
Member type             object
dtype: object

In [39]:
data=data.drop(columns=['Start date'],axis=1)
data=data.drop(columns=['End date'],axis=1)
data=data.drop(columns=['Start station'],axis=1)
data=data.drop(columns=['End station'],axis=1)

In [40]:
data.head(5)

   Duration  Start station number  End station number Bike number Member type
0      1012                 31208               31108      W00742      Member
1        61                 31209               31209      W00032      Member
2      2690                 31600               31100      W00993      Member
3      1406                 31600               31602      W00344      Member
4      1413                 31100               31201      W00883      Member

In [41]:
data.shape

(115597, 5)

In [42]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(data['Member type'])
data['Member type']=le.transform(data['Member type'])

In [43]:
data.head(5)

   Duration  Start station number  End station number Bike number  Member type
0      1012                 31208               31108      W00742            1
1        61                 31209               31209      W00032            1
2      2690                 31600               31100      W00993            1
3      1406                 31600               31602      W00344            1
4      1413                 31100               31201      W00883            1

In [44]:
data['Member type'].describe()

count    115597.00000
mean          0.79246
std           0.40576
min           0.00000
25%           1.00000
50%           1.00000
75%           1.00000
max           2.00000
Name: Member type, dtype: float64

In [45]:
data['Member type'].describe

<bound method NDFrame.describe of 0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
115567    0
115568    1
115569    1
115570    1
115571    1
115572    1
115573    0
115574    1
115575    1
115576    1
115577    1
115578    1
115579    1
115580    0
115581    1
115582    1
115583    1
115584    1
115585    1
115586    1
115587    1
115588    0
115589    0
115590    1
115591    1
115592    0
115593    1
115594    1
115595    1
115596    0
Name: Member type, Length: 115597, dtype: int32>

In [46]:
le=LabelEncoder()
le.fit(data['Bike number'])
data['Bike number']=le.transform(data['Bike number'])

In [47]:
data.head(5)

,Duration,Start station number,End station number,Bike number,Member type
0,1012,31208,31108,614,1
1,61,31209,31209,41,1
2,2690,31600,31100,836,1
3,1406,31600,31602,282,1
4,1413,31100,31201,734,1

In [48]:
data_mem=data[data['Member type']==1]
print (data_mem)

        Duration  Start station number  End station number  Bike number  \
0           1012                 31208               31108          614
1             61                 31209               31209           41
2           2690                 31600               31100          836
3           1406                 31600               31602          282
4           1413                 31100               31201          734
5            982                 31109               31200          708
6            930                 31109               31105          664
7           1659                 31111               31208          918
8           2496                 31600               31601          672
9           1487                 31703               31603          663
10          1007                 31500               31200          216
11          1159                 31603               31603          863
12            88                 31602               31602          384
13           202                 31105               31103          565
14          1407                 31101               31100          778
15           351                 31103               31104          565
16           416                 31105               31207          388
17          2988                 31206               31603          801
18           636                 31002               31003          901
19           509                 31205               31200          684
20           638                 31201               31200          734
21           763                 31602               31109          869
22           387                 31009               31009          681
23          1409                 31600               31100          693
24          1254                 31002               31012          950
25          1238                 31002               31012          874
26           277                 31106               31104          656
27          1532                 31200               31600          734
28           759                 31104               31202          656
29           433                 31011               31011          632
...          ...                   ...                 ...          ...
115559       126                 31105               31602          470
115560       235                 31101               31203          629
115561       448                 31203               31214          741
115562      1709                 31104               31503          253
115563       752                 31606               31619          770
115564       579                 31010               31007          465
115565       556                 31010               31007          599
115568       552                 31619               31605          702
115569       575                 31613               31611          214
115570       146                 31619               31622          252
115571      1304                 31222               31607          166
115572       360                 31107               31102          658
115574       609                 31400               31101          474
115575       462                 31107               31101          660
115576       428                 31622               31623          252
115577       482                 31105               31106          448
115578       302                 31613               31619          293
115579       288                 31613               31619           52
115581       257                 31107               31104          453
115582       485                 31503               31202          428
115583       599                 31207               31228          814
115584      1425                 31101               31104          284
115585       640                 31503               31229          153
115586      1016                 31214               31237          323
115587       490                 31110               31103          628
115590       596                 31107               31111          386
115591       580                 31107               31111          946
115593       953                 31106               31401          764
115594       737                 31602               31401          819
115595       514                 31111               31202          946

        Member type
0                 1
1                 1
2                 1
3                 1
4                 1
5                 1
6                 1
7                 1
8                 1
9                 1
10                1
11                1
12                1
13                1
14                1
15                1
16                1
17                1
18                1
19                1
20                1
21                1
22                1
23                1
24                1
25                1
26                1
27                1
28                1
29                1
...             ...
115559            1
115560            1
115561            1
115562            1
115563            1
115564            1
115565            1
115568            1
115569            1
115570            1
115571            1
115572            1
115574            1
115575            1
115576            1
115577            1
115578            1
115579            1
115581            1
115582            1
115583            1
115584            1
115585            1
115586            1
115587            1
115590            1
115591            1
115593            1
115594            1
115595            1

[91586 rows x 5 columns]

In [49]:
X=data.iloc[:,:-1].values
y=data.iloc[:,4].values

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [51]:
X_train.shape

(86697, 4)

In [52]:
X_test.shape

(28900, 4)

In [53]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [54]:
y_pred=classifier.predict(X_test)

In [55]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,y_pred)

In [56]:
print(acc)

0.7857439446366782

In [57]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [58]:
cm

array([[ 3073,  3016,     0],
       [ 3175, 19635,     1],
       [    0,     0,     0]], dtype=int64)

In [59]:
accuracy = (3073+19635+0)/(3073+3016+3175+19635+1)

In [60]:
print(accuracy)

0.7857439446366782